node_modules
dist
build
coverage
**/routeTree.gen.ts
**/next-env.d.ts
apps/*/src/generated/**
packages/*/src/generated/**
.playwright-cli
**/.output/**
package-lock.json
yarn.lock
pnpm-lock.yaml
.turbo
.next
